/build/
/subprojects/
/Dockerbuild/web_deploy/ui/
/Dockerbuild/web_deploy/server/
/Dockerbuild/bin/

/web/server/__pycache__
/web/server/modules/__pycache__

/web/bulma/
/web/.sass-cache/


.DS_Store
